.cardFooter {
  display: flex;
  align-items: center;
  padding: 15px 0 5px;
  border-top: 1px solid var(--darkBlueLine);
}

.avatarImgBox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: 15px;
}

.avatarImgBox img {
  width: 100%;
}

.footerParagraph {
  font-size: 14px;
  font-weight: 400;
  color: var(--softBlue);
}

.footerParagraph span {
  color: var(--white);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footerParagraph span:hover {
  color: var(--cyan);
}